body {
	font-family: 'Sofia Pro', sans-serif;
}

.dark_purple {
	color: #2B1D5E;
}
.light_purple {
	color: #6E5E8E;
}
.pink {
	color: #EF798A;
}

.header {
	width: 98vw;
	text-align: center;

	padding-top: 2vh;

	color: #2B1D5E;

}

.subheader {
	color: white;
	width: 30vw;

	margin-left: auto;
	margin-right: auto;

	background-color: #EF798A;
	line-height: 250%;
}

.main {
	width: 50vw;
	margin-left: auto;
	margin-right: auto;


	margin-top: 3vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.main h2 {
	color: #6E5E8E;
	padding-bottom: 2vh;
}

.content {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.content h3 {
	font-family: 'Futura', sans-serif; 
	font-weight: 400;
	color: #EF798A;
}

#personnel_table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 2vw;
}

#personnel_table td {
	width: 20%;

	position: relative;
	text-align: center;

}

#personnel_table td img {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

#personnel_table td img:hover {
	opacity: 0.9;
}

#personnel_table td h5 {
	color: #6E5E8E;
}



.spacer {
	height: 2vh;
}

.profile_photo {
	border-radius: 100%;
	width: 15vw;
	height: 15vw;
	overflow: hidden;

	margin-left: auto;
	margin-right: auto;
}
.profile_photo img {
	width: 100%;
}

.featured {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.featured p {
	font-size: 0.7em;
}

.graph_frame {
  width: 50%;
  height: 40vh;
  border: none;

  margin-left: 5%;
}

.button {
	padding-top: 1em;
	padding-bottom: 1em;

	width: 8em;

	margin-left: auto;
	margin-right: auto;

	text-align: center;
	vertical-align: middle;

	background-color: #6E5E8E;
	color: white;

	border-radius: 0.5em;
}

.button:hover {
	background-color: #2B1D5E;
}

.footer p {
	font-family: 'Sofia Pro', sans-serif;
	color: #2B1D5E;
	text-align: center;
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.1em;
}

p {
	font-family: 'PT Serif', serif;
	padding-bottom: 1vh;
}

a {
	color: #EF798A;	
	text-decoration: none;
}

a:hover {
	color: #6E5E8E;
}

@media (max-width: 700px) {
	.graph_frame {
		width: 100%;
	}
}